<div class="container">
  <div class="row">
    <div class="col-md-5">
      <button (click)=goBack() class="btn btn-warning" type="button" name="button">Go back Home</button>

    </div>
    <div class="col-md-7">
      <div class="card bg-danger ">
        <h1> <i class="far fa-question-circle"></i> Page not found</h1>
        <h3>The page you are requesting doest not exist </h3>
        <div class="jumbotron">
          <h1>404 This is not the page you are looking for</h1>
          <h1><i class="fas fa-exclamation"></i><i class="fab fa-github-alt"></i>Gitsearch</h1>

        </div>
      </div>


    </div>

  </div>

</div>
