<nav class="navbar navbar sticky-top  navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"  routerLink='/home' routerLinkActive='active'><i class="fab fa-github">Github Search</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/home' routerLinkActive='active'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a  routerLink='/github' routerLinkActive='active'><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></a>
    </form>
  </div>
</nav>
<!-- <app-user-welcome></app-user-welcome> -->


<!-- <div class="container">
      <app-github></app-github>
</div> -->

<router-outlet></router-outlet>
<ng-progress class="bg-danger"></ng-progress>
<div class="card modal-footer bg-dark">
  Copyright (c) 2019 Copyright KIpkemoi collins All Rights Reserved.

</div>
