.badge {
  padding: 15px;
  margin: 10px;
}

.card-header {
  background-color: green;
  text-align: center;
  color: white;
  border: none;
}

.card-body {
  background-color: #dddddd;
}

.first {
  background-color: #606060;
  text-align: center;
  color: white;
  border: hidden;
}

body {
  /* background-color: black; */
  background-image: url('http://www.gifszone.com/content/background/color_grey/color_grey_103.jpg');
}

#john {
    margin: auto;
    width: 60%;
    border: 0px solid #73AD21;
    padding: 10px;
}

/* .form-inline {
  width:40%;
} */
