<div class="body">
<div class="jumbo">
  <div class="container">
    <div class="row jumbo">
      <div class="com-md-8">
        <div class="jumbotron">
          <h1>welcome to Github Search</h1>
          <div  class="">
            <span id="type"></span>
          </div>
          <a id="cards"><button class="btn" type="button" name="button">See more</button></a>
        </div>

      </div>
      <div class="col-md-4">
      </div>

    </div>
  </div>

</div>
<div class="container-fluid">
  <div id="card" class="row">
    <div class="col-md-4">
              <!-- Card -->
        <div class="card height">

          <!-- Card image -->
          <img class="card-img-top" src="/assets/img/search.jpg" alt="Card image cap">

          <!-- Card content -->
          <div appBgColor class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Unlimited Search Request</a></h4>
            <!-- Text -->
            <p class="card-text">You are at the right place Github search Lets you search any person that their information is available at github</p>
            <!-- Button -->


          </div>


        </div>
        <!-- Card -->
    </div>
    <div class="col-md-4">
              <!-- Card -->
        <div class="card height">

          <!-- Card image -->
          <img class="card-img-top" src="/assets/img/lod.webp" alt="Card image cap">

          <!-- Card content -->
          <div appBgColor class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Speed and Data</a></h4>
            <!-- Text -->
            <p class="card-text">You get to view all information about the target search users, This Request are processed at maximum speed <strong>No Delays</strong></p>
          </div>


        </div>
<!-- Card -->
    </div>
    <div class="col-md-4">
      <!-- Card -->
        <div id="animate" class="card height">

          <!-- Card image -->
          <img class="card-img-top" src="/assets/img/user.jpg" alt="Card image cap">

          <!-- Card content -->
          <div appBgColor class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Are you Excited</a></h4>
            <!-- Text -->
            <p class="card-text"> </p>
            <a  (click)=goToSearch() class="btn btn-info">Get started <i class="fas fa-angle-double-right"></i></a>
          </div>

        </div>

    </div>

  </div>


</div>
</div>


<router-outlet></router-outlet>
